*{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
}


.side-content{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #1fa0a2, #d69f2a);
}



.side-content h1{
    font-family: 'Rockwell', 'san-serif';
    font-size: 25px;
    margin-bottom: 30px;
    padding: 30px;
    border-bottom: 2px solid;
    color: white;
}

.text p{
    font-family: 'Hoefler Text';
    color: #000;
    font-size: 13px;;
    text-align: center;
    color: white;
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-box{
    width: 330px;
    box-sizing: border-box;
    font-size: 13px;
}


.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    font-size: 21px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input{
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label{
    position: absolute;
    top: -13px;
    left: 10px;
    pointer-events: none;
    transition: .5s ease-in-out;
}


.checkbox{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
    text-align: center;
}

#form-check-box{
    display: flex;
    justify-content: space-evenly;
}

#method{
    height: 35px;
}

#submit{
    width: 100%;
    margin-top: 10px;
}

#submit:hover{
    background: #1fa0a2;
}

.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a{
    text-decoration: none;
    font-weight: 700;

    color: #000;
    transition: .5s;
}

span a:hover{
    text-decoration: underline;
    color: #000;
}

