body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-bar{
    background-color: rgb(121,167,242);
}

.form-box{
    margin-right: 30px;
}

.logout{
    background: none;
    border: none;
}

.logout:hover{
    color: white;
}

.box{
    margin: 20px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
}

.col, td{
    text-align: center;
}