
.container-fluid{
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("./images/70794809ac1ad01280d5b30860d7829d.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.3);
}

.text{
    flex: 50%;
    text-align: center;
}

.text h3{
    margin: 30px;
}

.form-box{
    flex-direction: column;
    flex: 50%;
}

.input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-field{
    margin-bottom: 20px;
}

.input-field input{
    text-align: center;
    width: 300px;
}

.input-button{
    height: 30px;
    background-color: #bf32f1;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 1s;
    color: #F3F3F3;
}

.input-button:hover{
    background-color: #9619c2;
}

.resend-form{
    margin-top: 20px;
}

.resend{
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: blue;
    transition: 1s;
}

.resend:hover{
    color: purple;
}



